<div class="card">
   <div class="flex mb-2 gap-2 justify-content-end">
    <span class="p-input-icon-right search-container">
    <input type="text" pInputText placeholder="Search" class="input-search"/>
    <i class="pi pi-search icon-search"></i>
    </span>
    </div>

    <p-tabView>
      <p-tabPanel header="Thailand">
        <p-fieldset legend="Share a relaxing 3-day, 2-night Chiang Mai travel plan.">
          <div class="grid">
              <div class="col-4">
                  <div class="" style="width: fit-content;">
                    <img class="images-content" src="assets/triptrek/images/ChiangMai/ChiangMai1.jpg" />
                  </div>
              </div>
              <div class="col-4">
                <div class="" style="width: fit-content;">
                  <img class="images-content" src="assets/triptrek/images/ChiangMai/ChiangMai2.jpg" />
                </div>
            </div>
            <div class="col-4">
              <div class="" style="width: fit-content;">
                <img class="images-content" src="assets/triptrek/images/ChiangMai/ChiangMai3.jpg" />
              </div>
            </div>
        </div>
        <div>
          <p-tag value="Chiang Mai"/>
        </div>
        <div class="profile-post">
          <button class="layout-topbar-button"[routerLink]="'/documentation'">
            <p-avatar image="assets/triptrek/images/profileamico.png" shape="circle" />
          </button>
          <a class="name-post" href="/documentation">Amico</a>
        </div>
      </p-fieldset>

      <p-fieldset legend="15 places to chill in Nan. Plan your trip to Nan for 3 days and 2 nights.">
        <div class="grid">
            <div class="col-4">
                <div class="" style="width: fit-content;">
                  <img class="images-content" src="assets/triptrek/images/Nan/Nan1.jpg" />
                </div>
            </div>
            <div class="col-4">
              <div class="" style="width: fit-content;">
                <img class="images-content" src="assets/triptrek/images/Nan/Nan2.jpg" />
              </div>
          </div>
          <div class="col-4">
            <div class="" style="width: fit-content;">
              <img class="images-content" src="assets/triptrek/images/Nan/Nan3.jpg" />
            </div>
          </div>
      </div>
      <div>
        <p-tag value="Nan"/>
      </div>
      <div class="profile-post">
        <button class="layout-topbar-button"[routerLink]="'/documentation'">
          <p-avatar image="assets/triptrek/images/TTpro-01.png" shape="circle" />
        </button>
        <a class="name-post" href="">Trip Trek</a>
      </div>
    </p-fieldset>

    <p-fieldset legend="Enjoy a 2-day, 1-night Phuket trip for salaryman.">
      <div class="grid">
          <div class="col-4">
              <div class="" style="width: fit-content;">
                <img class="images-content" src="assets/triptrek/images/Phuket/Phuket1.jpg" />
              </div>
          </div>
          <div class="col-4">
            <div class="" style="width: fit-content;">
              <img class="images-content" src="assets/triptrek/images/Phuket/Phuket2.jpg" />
            </div>
        </div>
        <div class="col-4">
          <div class="" style="width: fit-content;">
            <img class="images-content" src="assets/triptrek/images/Phuket/Phuket3.jpg" />
          </div>
        </div>
    </div>
    <div>
      <p-tag value="Phuket"/>
    </div>
    <div class="profile-post">
      <button class="layout-topbar-button"[routerLink]="'/documentation'">
        <p-avatar image="assets/triptrek/images/profileamico.png" shape="circle" />
      </button>
      <a class="name-post" href="/documentation">Amico</a>
    </div>
  </p-fieldset>

      </p-tabPanel>
      <p-tabPanel header="International">
        <p-fieldset legend="A 4-day, 3-night healing trip to Taiwan. Travel on your own, no tour is needed!" [routerLink]="'/landing'" >
          <div class="grid">
              <div class="col-4">
                  <div class="" style="width: fit-content;">
                    <img class="images-content" src="assets/triptrek/images/Taiwan/Taiwan1.jpg" [routerLink]="'/landing'"/>
                  </div>
              </div>
              <div class="col-4">
                <div class="" style="width: fit-content;">
                  <img class="images-content" src="assets/triptrek/images/Taiwan/Taiwan2.jpg" [routerLink]="'/landing'"/>
                </div>
            </div>
            <div class="col-4">
              <div class="" style="width: fit-content;">
                <img class="images-content" src="assets/triptrek/images/Taiwan/Taiwan3.png" [routerLink]="'/landing'"/>
              </div>
            </div>
        </div>
        <div>
          <p-tag value="Taiwan"/>
        </div>
        <div class="profile-post">
          <button class="layout-topbar-button"[routerLink]="'/documentation'">
            <p-avatar image="assets/triptrek/images/profileamico.png" shape="circle" />
          </button>
          <a class="name-post" href="/documentation">Amico</a>
        </div>
      </p-fieldset>

      <p-fieldset legend="Japan, travel to Tokyo for 4 days and 3 nights.">
        <div class="grid">
            <div class="col-4">
                <div class="" style="width: fit-content;">
                  <img class="images-content" src="assets/triptrek/images/Japan/Japan1.jpg" />
                </div>
            </div>
            <div class="col-4">
              <div class="" style="width: fit-content;">
                <img class="images-content" src="assets/triptrek/images/Japan/Japan2.jpeg" />
              </div>
          </div>
          <div class="col-4">
            <div class="" style="width: fit-content;">
              <img class="images-content" src="assets/triptrek/images/Japan/Japan3.jpg" />
            </div>
          </div>
      </div>
      <div>
        <p-tag value="Tokyo" style="margin-right: 10px;"/>
        <p-tag value="Japan" style="margin-right: 10px;"/>
      </div>
      <div class="profile-post">
        <button class="layout-topbar-button"[routerLink]="'/documentation'">
          <p-avatar image="assets/triptrek/images/TTpro-01.png" shape="circle" />
        </button>
        <a class="name-post" href="">Trip Trek</a>
      </div>
    </p-fieldset>

    <p-fieldset legend="Switzerland is a dream city in Switzerland that you must experience once in your life.">
      <div class="grid">
          <div class="col-4">
              <div class="" style="width: fit-content;">
                <img class="images-content" src="assets/triptrek/images/Switz/Switz1.jpg" />
              </div>
          </div>
          <div class="col-4">
            <div class="" style="width: fit-content;">
              <img class="images-content" src="assets/triptrek/images/Switz/Switz2.jpg" />
            </div>
        </div>
        <div class="col-4">
          <div class="" style="width: fit-content;">
            <img class="images-content" src="assets/triptrek/images/Switz/Switz3.jpg" />
          </div>
        </div>
    </div>
    <div>
      <p-tag value="Switzerland"/>
    </div>
    <div class="profile-post">
      <button class="layout-topbar-button"[routerLink]="'/documentation'">
        <p-avatar image="assets/triptrek/images/profileamico.png" shape="circle" />
      </button>
      <a class="name-post" href="/documentation">Amico</a>
    </div>
  </p-fieldset>
      </p-tabPanel>
  </p-tabView>
  </div>