<div class="layout-footer">
    <div>Contact Us</div>
    <div>
        <div class="grid">
            <div class="col-3">
                <img src="assets/triptrek/images/icon/x-twitter-brands-solid-LG-01.svg" class="icon-footer"/>
            </div>
            <div class="col-3">
                <img src="assets/triptrek/images/icon/tiktok-brands-solid-LG-01.svg" class="icon-footer"/>
            </div>
            <div class="col-3">
                <img src="assets/triptrek/images/icon/instagram-brands-solid-LG-01.svg" class="icon-footer"/>
            </div>
            <div class="col-3">
                <img src="assets/triptrek/images/icon/envelope-regular-LG-01.svg" class="icon-footer"/>
            </div>
        </div>
    </div>
</div>
