<div class="layout-footer">
    <div>Contact Us</div>
    <div>
        <div class="grid">
            <div class="col-3">
                <img src="assets/triptrek/images/icon/twitter-icon.svg" class="icon-footer"/>
            </div>
            <div class="col-3">
                <img src="assets/triptrek//images/icon/tiktok-icon.svg" class="icon-footer"/>
            </div>
            <div class="col-3">
                <img src="assets/triptrek//images/icon/instagram-icon.svg" class="icon-footer"/>
            </div>
            <div class="col-3">
                <img src="assets/triptrek/images/icon/mail-icon.svg" class="icon-footer"/>
            </div>
        </div>
    </div>
</div>
